    body {
        margin: 0px;
        background: rgba(31, 30, 26, 0.7);
        font-family: Raleway;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        background: #f9f9f9;
        /* background: rgba(0,0,0,0.75);*/
        /*background: rgb(90, 90, 90);
*/
        font-size: 24px;
        padding: 25px;
    }

    .parallax {
        /*margin-top: 30px;*/
        top: 30px;
        min-height: 500px;
        background: transparent;
        /*background-position: 50% !important; height: 450px; background-size: 100%;*/
    }

    div.transparent_box {
        margin: 30px;
        border: 1px solid black;
        background: rgba(31, 30, 26, 0.4);
    }

    div.transparent_box p {
        color: #fff;
        font-weight: bold;
        margin: 5%;
    }