    body {
        margin: 0px;
        background: #1f1e1a;
        font-family: Raleway;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        background-image: linear-gradient(to bottom, #120916 65%, #1AAAD5 100%);
        border-radius: 5px;
        font-size: 24px;
        padding: 25px;
    }

    .parallax {
        top: 30px;
        min-height: 500px;
        background: transparent;
    }

    div.transparent_box {
        margin: 30px;
        border: 1px solid black;
        border-radius: 5px;
        border-color: #16a4de;
        background: rgba(0, 0, 0, 0.3);
        font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Times New Roman";
    }

    div.transparent_box {
        color: #fff;
        margin: 5%;
        font-size: 20px;
    }

    div.btn_group {

        text-align: center;
    }

    div.btn_group a {
        position: relative;
        margin: 8px;
    }

    .form-group select, .form-group select:focus,
   /* .form-group select option, .form-group select option:focus, .form-group select option:active, */
    .btn-time {
        color: #16a4de;
        border-color: #16a4de;
        background: rgba(0, 0, 0, 0.3);
    }

     .form-group select option:hover, .btn-time:hover {
        color: #fff;
        background-color: #16a4de;
        border-color: #16a4de;
    }

   /* Not appearing*/

/*  .btn-time {
      border-color: #87c4f2;
      transition: none;
  }

  a.btn-time,
  a.btn-time:focus,
  {
    box-shadow: 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
  }

  a.btn-time:hover,
  {
      box-shadow: 5px 5px 0 #87c4f2, 4px 4px 0 #87c4f2, 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
      transform: translate(-2px, -2px);
      transition: all .3s ease;
  }

  a.btn-time:active,
  {
      box-shadow: none;
      transform: translate(4px, 4px) !important;
      transition: all .1s ease;
  }

 */