    body {
        margin: 0px;
        background: #1f1e1a;
        font-family: Raleway;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        background-image: linear-gradient(to bottom, #120916 65%, #1AAAD5 100%);
        border-radius: 5px;
        font-size: 24px;
        padding: 25px;
    }
		
		.containerPages {
				max-width: 90%;
				margin: 0 auto;
				background-color: #1f1e1a;
				border-radius: 5px;
				border: 1px solid #16a4de;
				font-size: 24px;
				padding: 25px;
		}
		
		.hvr-grow-shadow {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: perspective(1px) translateZ(0);
		  transform: perspective(1px) translateZ(0);
		  box-shadow: 0 0 1px transparent;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-property: box-shadow, transform;
		  transition-property: box-shadow, transform;
		}
		.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
		  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
		  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
		}

		.bookbtn {
			margin-top: 15px;
		}
    .parallax {
        top: 30px;
        min-height: 500px;
        background: transparent;
    }
		.table td {
			border-color: #16a4de;
			color: #fff;
		}
		h4{
			color: #fff;
		}

    div.transparent_box {
        margin: 30px;
        border: 1px solid black;
        border-radius: 5px;
        border-color: #16a4de;
        background: rgba(0, 0, 0, 0.3);
        font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Times New Roman";
    }

    div.transparent_box {
        color: #fff;
        margin: 5%;
        font-size: 20px;
    }

    div.btn_group {

        text-align: center;
    }

    div.btn_group a {
        position: relative;
        margin: 8px;
    }
		.form-group {
    margin-bottom: 1rem;
    color: #16a4de;
    border-color: #16a4de;
    background: rgba(0, 0, 0, 0.3);
}

    .form-group select, .form-group select:focus,
   /* .form-group select option, .form-group select option:focus, .form-group select option:active, */
    .btn-time {
        color: #16a4de;
        border-color: #16a4de;
        background: rgba(0, 0, 0, 0.3);
    }

     .form-group select option:hover, .btn-time:hover {
        color: #fff;
        background-color: #16a4de;
        border-color: #16a4de;
    }

   /* Not appearing*/

/*  .btn-time {
      border-color: #87c4f2;
      transition: none;
  }

  a.btn-time,
  a.btn-time:focus,
  {
    box-shadow: 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
  }

  a.btn-time:hover,
  {
      box-shadow: 5px 5px 0 #87c4f2, 4px 4px 0 #87c4f2, 3px 3px 0 #87c4f2, 2px 2px 0 #87c4f2, 1px 1px 0 #87c4f2;
      transform: translate(-2px, -2px);
      transition: all .3s ease;
  }

  a.btn-time:active,
  {
      box-shadow: none;
      transform: translate(4px, 4px) !important;
      transition: all .1s ease;
  }

 */
